div.DTS tbody th, div.DTS tbody td {
/*     white-space: nowrap;
 */}
div.DTS tbody tr.even {
    background-color: #FFFFFF;
}
div.DTS div.DTS_Loading {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #999999;
    height: 20px;
    left: 50%;
    margin-left: -100px;
    margin-top: -20px;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
    z-index: 1;
}
div.DTS div.dataTables_scrollHead {
    background-color: #FFFFFF;
}
div.DTS div.dataTables_scrollBody {
    z-index: 2;
}
div.DTS div.dataTables_scroll {
/*     background: url("../images/loading-background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
 */}